body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 5em 0 2em 0;
  min-height: 46.5em;
}

.query-text-field {
  width: 40em;
}

.action-btn {
  margin: 0 1em !important;
}

#iframe {
  width: 60em;
  height: 35em;
}

#iframe-placeholder {
  width: 60em;
  height: 34.2em;
  background-color: #efefef;
  color: #c0c0c0;
}

.app-bar {
  background: linear-gradient(0deg, rgba(47, 45, 89, 1) 0%, rgba(255, 0, 99, 1) 100%);
}

.footer {
  background: linear-gradient(0deg, rgba(255, 0, 99, 1) 0%, rgba(47, 45, 89, 1) 100%);
}

.header-grid {
  height: 6rem;
}

.nav-link {
  color: #efefef;
}

.nav-link:hover {
  color: #0EF
}

.result-image {
  width: 100%;
  object-fit: contain;
  margin-right: 1em;
}

.result-card {
  height: 12em;
  border-bottom: 1px solid #d0d0d0;
  margin: 1em 0;
  cursor: pointer;
}

.result-card :hover {
  background-color: #EEF;
}

.simple-pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.simple-pagination span {
  cursor: pointer;
}

.simple-pagination span:hover {
  color: #00E
}

.search-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cr-link{
  text-decoration: none;
  color: #0EF;
  margin: 0 5px;
}
